@{
	Layout = "_Layout";
}	
@* @model FeaturedCarsFormsModel; *@
@using System.Data
@model DataTable
<!--welcome-hero start -->
<section id="home" class="welcome-hero" style="padding-top:5%">
	<div class="container">
		<div class="welcome-hero-txt">
			<h2>get your desired car in resonable price</h2>
			<p>
				lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore   magna aliqua.
			</p>
			
		</div>
	</div>

</section><!--/.welcome-hero-->
<!--welcome-hero end -->
<!-------------------------------------------------------------------------------------------------------------------------------------->

<main class="main" id="main">
	<!--new-cars start -->
	<section id="new-cars" class="new-cars" style="padding-top:10%">
		<div class="container">
			<div class="section-header">
				<p>checkout <span>the</span> latest cars</p>
				<h2>newest cars</h2>
			</div><!--/.section-header-->
			<div class="new-cars-content">
				<div class="owl-carousel owl-theme" id="new-cars-carousel">
					@foreach (DataRow dataRow in Model.Rows)
					{
						<div class="new-cars-item">
							<div class="single-new-cars-item">
								<div class="row">
									<div class="col-md-7 col-sm-12">
										<div class="new-cars-img">
											<img src="@Url.Content(dataRow["ImgURL"].ToString())" alt="img" />
										</div><!--/.new-cars-img-->
									</div>
									<div class="col-md-5 col-sm-12">
										<div class="new-cars-txt">
											<h2><a href="#">@dataRow["CarName"].ToString()</a></h2>
											<p>
												@dataRow["Description"].ToString()
											</p>
											<br>
											<br>
											<a asp-area="UserSide" asp-controller="UserSide" asp-action="NewCars_ViewDetail" asp-route-CarId="@dataRow["CarId"]">
												<button type="button" class=" btn btn-primary">View Details</button>
											</a>
										</div><!--/.new-cars-txt-->
									</div><!--/.col-->
								</div><!--/.row-->
							</div><!--/.single-new-cars-item-->
						</div>

						<!--/.new-cars-item-->
					}
				</div><!--/#new-cars-carousel-->
			</div><!--/.new-cars-content-->
		</div><!--/.container-->

	</section><!--/.new-cars-->
	<!--new-cars end -->

</main>